*{ /* RESET CSS */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: url(../img/bg.jpg) no-repeat fixed;
	background-size: cover;

}

main
{
	position: relative;
}

[class*="entypo-"]:before{
    font-family: 'entypo', sans-serif;
  }

/*----HEADER----*/

header {
	position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
	background:rgba(250, 250, 250,0.9);
    font-size: 20px;
    border-bottom: 5px solid #E00944;
    height: 100px;
}

header:before{
	content: '';
  	background:  no-repeat url("../img/bg.jpg") fixed;
    background-size: cover;
    -webkit-filter: blur(30px);
             -moz-filter: blur(30px);
              -ms-filter: blur(30px);
               -o-filter: blur(30px);
                  filter: blur(30px);
    position: absolute;
    z-index: -1;
}

#logocoda{
	margin: 5px;
	margin-left: 80px;
	float: left;
	width: 150px;
}

#logocoda:hover {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 
	100% {
	 -moz-transform: rotate(360deg); 
	 } 
	}
@-webkit-keyframes spin 
{ 
	100% { 
		-webkit-transform: rotate(360deg); 
		} 
	}
@keyframes spin {
 100% {
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); 
  }
   }

nav {
	float: right;
	margin-top: 35px;
	margin-right: 100px;

}

nav li {
	display: inline;
	margin: 20px;
}

nav li a{
	text-decoration: none;
	color: black;
}

nav li a:hover{
	color: #E00944;
	border-bottom: 3px solid  #E00944;

}

#bigSection{
	margin-top: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height : 100%;
	width: 100%;
}



.smallSection{
	margin:20px;
	width: 90%;
	padding: 20px;
	background:rgba(0, 0, 0,0.5);
	border-radius: 10px;

}


/*Section 1*/



#one{
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

#one h2{
	font-size: 30px;
	color: 
}

.partenaires{
	margin:30px;
}

.partenaires img{
	height: 100px;
	margin: 30px;

}

.titre
{
	font-size: 30px;
	margin:10px;

}

.presentation
{
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

#video{
	margin:80px;
	width:800px; 
	height:450px;
}

/******************* SECTION 2 *****************/
#two{
	text-align: center;

}

#titre2{
	margin:20px;
	margin-bottom: 40px;
	font-size: 30px;

}

.trombi{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.profil{
	text-align: center;
	height: 350px;
	width: 250px;
	background-color: rgba(255,255,255,0.6);
	margin: 15px;
	padding: 5px;
	color: black;
	border-radius: 3px;
}


.photo{
	margin-top: 10px;
	width: 200px;
}

.social{
	display: inline-block;
	width: 200px;
	padding: 3px;
	background-color: grey;
	text-align: center;
	font-size: 20px;

}

.social a{
	text-decoration: none;
	color: white;
	margin: 5px;
}
.social a:hover{
	color: black;
}


/********************SECTION 3*********************************/

#three{
	display: flex;
	justify-content: center;
	height: 800px;
	align-items: center;
	text-align: center;

	}

form{
	display: flex;
	flex-direction: column;
	margin:40px;


	
}

form h2{
	margin-top: 0;
	padding:30px;
}

input{
	margin: 10px;
	height: 30px;
	width: 400px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border:0;
	font-size: 18px;
	color: white;
}

textarea{
	margin: 10px;
	height: 100px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border:0;
	font-size: 17px;
	color: white;	
	resize: none;
}

button{
	margin: 10px;
	height: 40px;
	width:100px;
	border-radius: 3px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border:0;
	transition: all 0.5s;

}

button:hover{
	background-color: rgba(255,255,255,0.5);
	color: black;
}

button:focus{
	background-color: rgba(0,0,0,1);
	color: grey;
}

label{
	text-align: left;

}

#maps{
	margin: 40px;
	width: 800px;
	height: 500px;
}




/**************************** FOOTER **************************/


footer{
	height: 130px;
	width: 100%;
	background-color: #211E1E;
	position: absolute;
	color: white;


}

footer div a {
	width: 50px;
	float: right;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 18px;
	margin-right: 18px;
	text-decoration: none;
	color: white;
	font-size: 30px;
}

.entypo-twitter:hover{
	color: #55ACEE;
}

.entypo-facebook:hover{
	color: #4862A3;
}
.copyright{
	float: left;
	margin: 35px;

}

